body {
  background-color: white;
  transition: 1s;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  display: flex;
  flex-direction: column-reverse;
  align-items:center ;
  gap: 50px;
}
.btn1{
  width:250px;
  height: 70px;
  margin-top: 50px;
}
.logo2{
  transition: 3s;
  width: 135px;
}
.logo2:hover{
  transform: rotate(3turn);
  transition: 3s;
}
.logo1{
  width: 135px;
  height: 135px;
}
.section1{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 59PX;
  background-color: #222222;
  padding-left: 50px;
  padding-right: 50px;
  height: 200px;
}
.nav1{
  display: flex;
  gap: 15px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.a{
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: aliceblue;
  border-radius: 15px;
}
.a:hover{
  font-size: 38px;
  transition: 0.5s;
  background-color:rgb(23, 62, 134) ;
}
.title{
  color: aliceblue;
  font-size: 50px;
}
h1{
  color: black;
}
.section2{
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.btn{
  width: 160px;
  height: 50px;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgb(32, 85, 184);
  border: none;
  color: aliceblue;
}
.btn:hover{
  transition: 1s;
  background-color: rgb(15, 31, 62);
}
.buttons{
  gap: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.contador{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
}
.num{
  transition: 2s;
  font-size: 100px;
}
.num:hover{
  transform: rotate(1turn);
  transition: 2s;
}
.btnMa{
  background-color: rgb(0, 182, 15);
}
.btnMen{
  background-color: rgb(246, 92, 53);
}
.hr{
  width: 500px;
  height: 3px;
  background-color: rgb(62, 102, 184);
}
/*---------*/
body.color{
  transition: 1s;
  background-color: rgb(49, 103, 134);
}
body.color .hr{
  background-color: rgb(255, 255, 255);
}
body.color .num{
  transition: 1s;
  color: white;
}
.lbl1{
  display: inline-block;
  width: 65px;
  height: 33px;
  background-color: rgb(170, 170, 170);
  border-radius: 100px;
  cursor: pointer;
  position: relative; 
  transition: .2s;
}
.lbl1::after{
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-color: aliceblue;
  border-radius: 100px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: .2s;
}
#switch1:checked + .lbl1::after{
  left: 36px;
}
#switch1:checked + .lbl1{
  background-color: rgb(0, 182, 15);
}
#switch1{
  display: none;
}
.pintar{
  background-color: #5b7686;
}
.tables{
  padding-left: 120px;
  padding-right: 120px;
}